@{
    ViewBag.Title = "Inicio";
}



<my-app></my-app>

<div class="panel-heading">
    <div class="pull-right"> @*1.- EN ESTA PARTE COLOCAR LOS BOTONES PRINCIPALES*@</div>
    <h3 class="panel-title">@ViewBag.Title</h3>
</div><!-- /.panel-heading -->
<div class="panel-body">
    <div class="jumbotron" style="background-image:">
        <h1>PAGOS</h1>
        <p class="lead"></p>
        @*<p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>*@
    </div>

    <div class="row">
        <div class="col-md-4">
            <div class="panel panel-success">
                <div class="panel-heading">
                    <h3 class="panel-title">Panel</h3>
                </div><!-- /.panel-heading -->
                <div class="panel-body">
                    Contenidos
                </div><!-- /.panel-body -->
            </div>
        </div>
        <div class="col-md-4">
            <div class="panel panel-teal">
                <div class="panel-heading">
                    <h3 class="panel-title">Panel</h3>
                </div><!-- /.panel-heading -->
                <div class="panel-body">
                    Contenido
                </div><!-- /.panel-body -->
            </div>
        </div>
        <div class="col-md-4">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <h3 class="panel-title">Panel</h3>
                </div><!-- /.panel-heading -->
                <div class="panel-body">
                    Contenido
                </div><!-- /.panel-body -->
            </div>
        </div>
    </div>
</div><!-- /.panel-body -->