<?xml version="1.0" encoding="utf-8"?>
<!--
  Para obtener más información acerca de cómo configurar una aplicación ASP.NET, consulte
  http://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <section name="filters" type="FilterProvider.ConfigurableFilters.FiltersSettings, FilterProvider" />
    <section name="system.identityModel" type="System.IdentityModel.Configuration.SystemIdentityModelSection, System.IdentityModel, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
    <section name="system.identityModel.services" type="System.IdentityModel.Services.Configuration.SystemIdentityModelServicesSection, System.IdentityModel.Services, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
  </configSections>
  <connectionStrings>
    <add name="DefaultConnection" connectionString="Data Source=(LocalDb)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\aspnet-PAG-20170213025825.mdf;Initial Catalog=aspnet-PAG-20170213025825;Integrated Security=True" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <filters>
    <add type="FilterProvider.Filters.Actions.CompatibleBrowserAttribute, FilterProvider" />
    <add type="FilterProvider.Filters.Exceptions.CustomExceptionAttribute, FilterProvider" />
  </filters>
  <appSettings>
     <add key="aspnet:MaxJsonDeserializerMembers" value="15000000" />
    <!-- PARA EVITAR QUE CHROME ELEVE LA CPU AL MAXIMO:ENABLEBROWSERLINK.-->
    <add key="vs:EnableBrowserLink" value="false" />
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />

    <!-- REFERENCIA A WEBSERVICES-->
    <add key="wcfFideicomisos" value="http://localhost:50181/PAG_Services.svc" />
    <add key="wcfSegFideicomisos" value="http://172.16.218.154:8006/SAS_WCF/SAS_Services.svc" />
    <add key="wcfFPEPerfil" value="http://172.16.218.154:8006/FPE_WCF/FPE_Services.svc" />

    <!-- STS-->
    <add key="IdSystemClaims" value="6" />
    <add key="ApiClientToken" value="D9F072E7928070B5E0440017084C78DE" />

    <!-- MODIFICAR SEGUN PARAMETRIZACION EN SAS-->
    <add key="Sistema" value="TESORERIA" />

    <!-- NOMBRE COMPLETO DEL SISTEMA-->
    <add key="NombreSistema" value="Pagos" />

    <!-- REPORTERIA 20160412 DRODRIGUEZ-->
    <!--pruebas desawebservices-->
    <add key="wcfReporteria" value="http://megrez/FDER_WCF/FDER_Services.svc" />
    <!--<add key="urlBaseReportes" value="http://pech.sefin.gob.hn/reports/rwservlet?rep_pagos&amp;CAPACITACION" />-->
    <add key="urlBaseReportes" value="http://pech.sefin.gob.hn/reports/rwservlet?rep_pagosdesa&amp;DESARROLLO" />
    <add key="SeparadorParReportes" value="%23%40%3b" />
    <add key="wcfFPE" value="http://megrez/FPE_WCF/FPE_Services.svc" />

    <!-- FILESERVER CONFIGURACIONES-->
    <add key="ExtPermitidas" value="pdf, docx" />
    <add key="usuFileServer" value="kaya" />
    <add key="claveFileServer" value="@$h1taka" />
    <!-- uriFileServer => Colocar contrapleca al final del nombre, ejemplo: \\172.16.48.98\xxxxx\ -->
    <add key="uriFileServer" value="\\172.16.48.98\dsdws\SIRFIDE\Archivos\" />
    <add key="NameSpacesApp" value="PAGOS.PAG.APP." />

    <add key="permisoConsultar" value="CONSULTA" />
    <add key="permisoCrear" value="REGISTRO" />
    <add key="permisoAprobar" value="APRUEBA" />
    <add key="nivelGrupoDetalle_GESTION" value="GESTION" />
    <add key="nivelGrupoDetalle_INSTITUCION" value="INSTITUCION" />
    <add key="nivelGrupoDetalle_GA" value="GERENCIA ADMINISTRATIVA" />
    <add key="nivelGrupoDetalle_UE" value="UNIDAD EJECUTORA" />

  <!--<add key="ClientId" value="PAG" /><add key="RedirectUri" value="http://localhost:2335/" /><add key="PostLogoutRedirectUri" value="http://localhost:2335/" /><add key="BaseAddress" value="http://desawebservices/sts3" /><add key="owin:AutomaticAppStartup" value="true" /><add key="owin:appStartup" value="SEFIN.FWK.STS.OWIN.Startup" />-->
    <!-- Variables del Sistema RID -->
    <add key="idSistema" value="6" />
    <add key="siglaSistema" value="PAG" />
    <add key="ClientId" value="PAG" />
    <add key="RedirectUri" value="http://localhost:2335/" />
    <add key="PostLogoutRedirectUri" value="http://localhost:2335/" />
    <add key="BaseAddress" value="http://desawebservices/sts3" />
    <add key="owin:AutomaticAppStartup" value="true" />
    <add key="owin:appStartup" value="PAG.Startup" />
  </appSettings>
    <system.web>
    <compilation targetFramework="4.5" debug="true" />
    <httpRuntime targetFramework="4.5" maxRequestLength="15000000" executionTimeout="90" requestLengthDiskThreshold="15000000" />
    <!-- <customErrors mode="On" defaultRedirect="~/Home/PaginaError">-->
    <customErrors mode="Off" defaultRedirect="~/Home/PaginaError">
      <error redirect="~/Home/PaginaNoAutorizado" statusCode="401" />
      <error redirect="~/Home/PaginaNoEncontrada" statusCode="404" />
    </customErrors>
    <!-- <identity impersonate="true"/>-->
    <pages>
      <namespaces>
        <add namespace="Kendo.Mvc.UI" />
      </namespaces>
    </pages>
  </system.web>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.OAuth" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.Cookies" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" culture="neutral" publicKeyToken="30ad4fe6b2a6aeed" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.IdentityModel.Tokens.Jwt" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.20622.1351" newVersion="4.0.20622.1351" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.IdentityModel.Protocol.Extensions" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.0.2.33" newVersion="1.0.2.33" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Autofac" publicKeyToken="17863af14b0044da" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.0" newVersion="4.0.1.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.webServer>
    <security>
      <requestFiltering>
        <requestLimits>
          <headerLimits>
            <add header="Content-type" sizeLimit="1000000000" />
          </headerLimits>
        </requestLimits>
      </requestFiltering>
    </security>
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
    <staticContent>
      <remove fileExtension=".otf" />
      <mimeMap fileExtension=".otf" mimeType="font/otf" />
      <remove fileExtension=".woff" />
      <mimeMap fileExtension=".woff" mimeType="font/x-woff" />
      <remove fileExtension=".properties" />
      <mimeMap fileExtension=".properties" mimeType="text/plain" />
      <!-- add more MIMEs if needed... -->
    </staticContent>
    <!--<modules>
      <remove name="FormsAuthenticationModule" />
      <add name="SessionAuthenticationModule" type="System.IdentityModel.Services.SessionAuthenticationModule, System.IdentityModel.Services, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" preCondition="managedHandler" />
      <add name="WSFederationAuthenticationModule" type="System.IdentityModel.Services.WSFederationAuthenticationModule, System.IdentityModel.Services, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" preCondition="managedHandler" />
    </modules>-->
  </system.webServer>
  <system.identityModel>
    <!-- Solucion Token Error SAML2:Assertion's NotBefore condition is not satisfied: 
        http://gustavoazcona.blogspot.com/2012/09/the-saml2securitytoken-is-rejected.html
        Usar Margen de Permitido Hora del Token vs Hora Session: maximumClockSkew-->
    <identityConfiguration maximumClockSkew="00:16:05">
      <audienceUris>
        <add value="http://localhost:2335/" />
      </audienceUris>
      <issuerNameRegistry type="System.IdentityModel.Tokens.ConfigurationBasedIssuerNameRegistry, System.IdentityModel, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
        <trustedIssuers>
          <!-- <add thumbprint="603CF0EE9EFA8B5FCF7BB18950A881D305F044A8" CAMBIO 05/04/2017 -->
          <!--<add thumbprint="2c16e859a3291a652c7d8c3ff2849aabb62fe314" name="http://desawebservices.sefin.gob.hn/sts" />-->
        </trustedIssuers>
      </issuerNameRegistry>
    </identityConfiguration>
  </system.identityModel>
  <system.identityModel.services>
    <!--<federationConfiguration>
      <cookieHandler requireSsl="false" />
      <wsFederation passiveRedirectEnabled="true" issuer="https://desawebservices/sts/issue/wsfed" realm="http://localhost:2335/" redirect="http://localhost:2335/" requireHttps="false" />
    </federationConfiguration>-->
  </system.identityModel.services>
  <system.serviceModel>
    <client>
      <!--<endpoint address="http://localhost:50181/PAG_Services.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IPAG" contract="PAG_INTERFACES.iPAG_Services" name="iPAG_Services" />-->
      <endpoint address="http://megrez/PAG_wcf/PAG_Services.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IPAG" contract="PAG_INTERFACES.iPAG_Services" name="iPAG_Services" />
      <endpoint address="http://megrez/SAS_WCF/SAS_Services.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IPAG" contract="SAS_INTERFACES.ISAS_Services" name="ISAS_Services" />
      <endpoint address="http://172.16.218.154:8006/FPE_WCF/FPE_Services.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IPAG" contract="FPE_INTERFACES.IFPE_Services" name="IFPE_Services" />
    </client>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IService1" />
        <binding name="BasicHttpBinding_IPAG" receiveTimeout="00:20:00" sendTimeout="01:00:00" maxBufferPoolSize="2147483647" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647" />
        <binding name="BasicHttpBinding_ISAS" receiveTimeout="00:20:00" sendTimeout="01:00:00" maxBufferPoolSize="2147483647" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647" />

        <binding name="bindingWcfPAG" maxBufferPoolSize="2147483647" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647" receiveTimeout="00:20:00" sendTimeout="01:00:00" />
        <!-- SEGURIDAD 20160718 DLAINEZ-->
        <binding name="BasicHttpBinding_ISAS_Services" maxBufferPoolSize="2147483647" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647" receiveTimeout="00:20:00" sendTimeout="01:00:00" />
        <!-- REPORTERIA 20160412 DRODRIGUEZ-->
        <binding name="bindingWcfPAGR" maxBufferPoolSize="2147483647" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647" receiveTimeout="00:20:00" sendTimeout="01:00:00" />
        <!-- FOTO-->
        <binding name="bindingBasicCustom" maxBufferPoolSize="2147483647" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647" receiveTimeout="00:20:00" sendTimeout="01:00:00" />
      </basicHttpBinding>
    </bindings>
  </system.serviceModel>

</configuration>