<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="EntityFramework" version="5.0.0" targetFramework="net45" />
  <package id="SEFIN.FWK.ERRMSG.DTO" version="1.0.1" targetFramework="net45" />
  <package id="SEFIN.FWK.ERRORHANDLER" version="1.2.9" targetFramework="net45" />
  <package id="SEFIN.FWK.ERRORHANDLER.EXT.ORA" version="1.0.8" targetFramework="net45" />
  <package id="SEFIN.FWK.IERRORHANDLER" version="1.0.4" targetFramework="net45" />
</packages>