<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=5.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <add name="PAG_Entities" connectionString="metadata=res://*/PAG_Model.csdl|res://*/PAG_Model.ssdl|res://*/PAG_Model.msl;provider=Oracle.ManagedDataAccess.Client;provider connection string=&quot;DATA SOURCE=DESARROLLO;PASSWORD=pruebasp4g;USER ID=INT_PAGOS&quot;" providerName="System.Data.EntityClient" />
    <!--<add name="PAG_Entities" connectionString="metadata=res://*/PAG_Model.csdl|res://*/PAG_Model.ssdl|res://*/PAG_Model.msl;provider=Oracle.ManagedDataAccess.Client;provider connection string=&quot;DATA SOURCE=CAPA;PASSWORD=pruebasp4g;USER ID=INT_PAGOS&quot;" providerName="System.Data.EntityClient" />-->
  </connectionStrings>
  <appSettings>

    
    <!--Ambiente DESARROLLO--><add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
    <add key="wcfSeguridad" value="http://172.16.218.154:8006/SAS_WCF/SAS_Services.svc" />
    <!--<add key="wcfSeguridad" value="http://megrez/SAS_WCF/SAS_Services.svc" />-->
    <add key="SASTokenSystem" value="382D5F3BED803C75E054C6388C585879" />
    <add key="SASMetodosSinVPD" value="login,QRY_AUX_LOVS_DTO_FILTRADO,qry_AUX_LOVS_DTO_filtrado" />
    <add key="ActivarValidacionAutorizacionMetodoWCF" value="true" />
    <add key="ActivarValidacionAutorizacionMetodoQRYWCF" value="true" />
    <add key="ActivarValidacionAutorizacionMetodoINSWCF" value="true" />
    <add key="ActivarValidacionAutorizacionMetodoUPDWCF" value="true" />
    <add key="ActivarValidacionAutorizacionMetodoDELWCF" value="true" />
    <add key="SisAbrv" value="PAG" />
    <add key="NameSpaces" value="PAG.PAG.WCF." />





    
    
    
    
    
  <add key="wcfERRMSG" value="http://desawebservices:8006/ERM_WCF/ERM_REPOSITORY.svc" /><add key="wcfERRMSG_auditMessage" value="true" /><add key="wcfERRMSG_typeMessage" value="ERM" /><add key="wcfERRMSG_codeMessage" value="500" /><add key="wcfERRMSG_textMessage" value="Error Interno del Sistema, Espere Soporte..." /></appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
  </system.web>
  <system.serviceModel>
    <diagnostics performanceCounters="Off" />
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_ISAS_Services" maxBufferPoolSize="2147483647" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647" receiveTimeout="00:20:00" sendTimeout="01:00:00" />
      </basicHttpBinding>
    </bindings>
    <behaviors>
      <serviceBehaviors>
        <behavior name="">
          <!-- Para evitar revelar información de los metadatos, establezca los valores siguientes en false antes de la implementación -->
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
          <!-- Para recibir detalles de las excepciones en los fallos, con el fin de poder realizar la depuración, establezca el valor siguiente en true. Para no revelar información sobre las excepciones, establézcalo en false antes de la implementación -->
          <serviceDebug includeExceptionDetailInFaults="false" />

          <interceptorExtension />
          
          <!--More params: schemaNameErrorHandler,providerNameErrorHandler,providerConnectionStringErrorHandler--><CustomSefinExceptionProvider schemaNameErrorHandler="SIAFI" providerNameErrorHandler="Oracle.ManagedDataAccess.Client" providerConnectionStringErrorHandler="DATA SOURCE=DESARROLLO;PASSWORD=pruebasp4g;USER ID=INT_PAGOS" extDirectoryErrorHandler="~/extensions" />

          
        <!--Folder ErrorHandler: Obligatorio--></behavior>
      </serviceBehaviors>
    </behaviors>
    <protocolMapping>
      <add binding="basicHttpsBinding" scheme="https" />
    </protocolMapping>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" />
    <extensions>
      <behaviorExtensions>

        <add name="interceptorExtension" type="PAG_WCF.Interceptor.InterceptorExtension, PAG_WCF, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
        
      <add name="CustomSefinExceptionProvider" type="SEFIN.FWK.WCF.ERRORHANDLER.CustomSefinExceptionProvider, SEFIN.FWK.ERRORHANDLER, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" /></behaviorExtensions>
    </extensions>
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true" />
    <!--
        Para examinar el directorio raíz de la aplicación web durante la depuración, establezca el valor siguiente en true.
        Establézcalo en false antes de la implementación para evitar revelar información sobre la carpeta de aplicación web.
      -->
    <directoryBrowse enabled="true" />
  </system.webServer>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v13.0" />
      </parameters>
    </defaultConnectionFactory>
  </entityFramework>
</configuration>